---
layout: layouts/home.njk
eleventyNavigation:
  key: Each series of photographs
  order: 2
---
<h1>Series of photographs</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
